{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show" xmlns="http://www.w3.org/1999/html">
    <div>
        <a class="btn btn-default" href="{{ path('fos_user_profile_edit') }}">Edit profile</a>
        <a class="btn btn-default" href="{{ path('fos_user_change_password') }}">Change password</a>
        <a class="btn btn-default" href="{{ path('dashboard') }}">Dashboard</a>
    </div>
    <div class="container-fluid" style="outline: 1px solid lightgray; margin-top: 10px">
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    </div>
</div>
