{% extends '::base.html.twig'  %}
{% block stylesheets %}
    <link href="{{asset('bundles/event/css/event.css')}}" type="text/css" rel="stylesheet">
    <link href="{{asset('bundles/event/plugins/css/bootstrap-datetimepicker.min.css')}}" type="text/css" rel="stylesheet">
{% endblock %}
{% block body %}
        <div class="col-md-6 col-md-offset-3 text-center">
            {{ form_start(form, { 'attr' : {'class' : 'create_event_form'}}) }}
            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_errors(form.dealer) }}
                {{ form_widget(form.title, { 'attr' : { 'class' : 'form-control'}  }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.dealer) }}
                {{ form_widget(form.dealer, { 'attr' : { 'class' : 'form-control'}  }) }}
            </div>
            {{ form_label(form.end_date_time) }}
            {{ form_errors(form.end_date_time) }}
            <div class="form-group">
                <div class="input-group" id="time_input">
                    {{ form_widget(form.end_date_time, { 'attr' : {'class' : 'form-control' } }) }}
                       <span class="input-group-addon">
                           <i class="glyphicon glyphicon-calendar"></i>
                       </span>
                </div>
            </div>
            {{ form_label(form.emails)}}
            {{ form_errors(form.emails) }}
            <div class="form-group email">
                <input class="form-control email_input" type="text"> <button class="btn btn-default email_add" id="add_email_button">Add</button>
            </div>
            <div class="email_list" data-prototype="{{ form_widget(form.emails.vars.prototype.email)|e }}">
                {% for user in form.users %}
                    <div class="email_row">{{ user.vars.value.email }}</div>
                    {{ form_widget(user.email) }}
                {% endfor %}
                {% for event_email in form.emails %}
                    <div class="email_row">{{ event_email.vars.value.email }}</div>
                    {{ form_widget(event_email.email) }}
                {% endfor %}
            </div>
            <a href="{{ path('dashboard') }}" class="btn btn-default cancel_event">Cancel</a>
            {{ form_widget(form.submit, {'attr' : { 'class' : 'btn btn-default create_event'}})}}
            {# hack to stop double label rendering #}
            {% do form.emails.setRendered %}
            {% do form.users.setRendered %}
            {{ form_end(form) }}
        </div>
{% endblock %}
{% block javascripts %}
    <script src="{{asset('bundles/event/plugins/js/moment.min.js')}}" type="text/javascript"></script>
    <script src="{{asset('bundles/event/plugins/js/bootstrap-datetimepicker.min.js')}}" type="text/javascript"></script>
    <script src="{{asset('bundles/event/js/editEvent.js')}}" type="text/javascript"></script>
{% endblock %}