{% extends '::base.html.twig'  %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class = "col-md-12" >
            <h3>Event: {{ event.title }}</h3>
            </div>
            <div class = "row" >
                <div class="col-md-3">
                    <h4><strong>User</strong></h4>
                </div>
                <div class="col-md-3">
                    <h4><strong>Dish</strong></h4>
                </div>
                <div class=" col-md-offset-3 col-md-3">
                    <h4><strong>Amount</strong></h4>
                </div>
            </div>
        </div>
        {% for user in users %}
            {% if (user.getOrdersForEvent(event).count > 0) %}
                <div class = "row">
                    <div class="col-md-12">
                        <h4>{{ user.getUsername }}</h4>
                    </div>
                </div>
                {% for order in user.getOrdersForEvent(event) %}
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8">{% if order.isRemoved %}<del>{% endif %}{{ order.dish.name }}{% if order.isRemoved %}</del>{% endif %}</div>
                        <div class="col-md-2">{% if order.isRemoved %}<del>{% endif %}{{ order.quantity }}{% if order.isRemoved %}</del>{% endif %}</div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
        <div class="row">
            <div class="col-md-offset-9 col-md-3"><h4>Total price: €{{ event.getTotal }}</h4></div>
        </div>
    </div>
{% endblock body %}