{% macro pick(eid, class) %}
    <a href="{{ path('select_food', {'id': eid}) }}" class="  event_action  {{class}}" >Pick food</a>
{% endmacro %}

{% macro review(eid, class) %}
    <a href="{{ path('review', {'id': eid}) }}" class="  event_action  {{class}}" >Review order</a>
{% endmacro %}

{% macro payments(eid, class) %}
    <a href="{{ path('payments', {'id': eid}) }}" class="  event_action  {{class}}" >Payments</a>
{% endmacro %}

{% macro edit(eid, class) %}
    <a href="{{ path('corvus_event_default_editevent', {'id': eid}) }}" class="  event_action  {{class}}" >Edit event</a>
{% endmacro %}

{% macro suspend(eid, class) %}
    <a href="{{ path('suspend', {'eventId': eid}) }}" class="  event_action  {{class}}" >Place order</a>
{% endmacro %}

{% macro place(eid, class) %}
    <a href="{{ path('order_food', {'id': eid}) }}" class="  event_action  {{class}}" >Place order</a>
{% endmacro %}

{% macro cancel(eid, class) %}
    <a href="#path('cancel_event', {'id': eid})" class="  event_action  {{class}}" >Cancel order</a>
{% endmacro %}

{% macro arrived(eid, class) %}
    <a href="#path('order_arrived', {'id': eid})" class="  event_action  {{class}}" >Order arrived</a>
{% endmacro %}
